.footer-section{
    background-color: black;
    color: rgb(201, 201, 201);
    height: 5rem;
}

.footer-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}